@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,400italic,500,700,700italic);
/* --------------- Style to null --------------- */
*{-webkit-text-size-adjust: none; }
*{-moz-box-sizing:border-box;box-sizing:border-box;}html,body,div,span,h1,h2,h3,h4,h5,h6,p,em,img,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,table,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,a,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{-webkit-tap-highlight-color: rgba(0,0,0,0); border:0;outline:0;vertical-align:baseline;background:transparent;font-size:100%;margin:0;padding:0;}a{background:transparent;}table{border-collapse:collapse;border-spacing:0;}td,td img{vertical-align:top;}input,select,button,textarea{font-size:12px;font-family:Arial, Helvetica, sans-serif;margin:0;}input[type="text"],input[type="password"],textarea,input[type="email"],input[type="phone"],input[type="number"]{font:12px Arial, Helvetica, sans-serif;padding:0;}input[type="checkbox"]{vertical-align:bottom;}input[type="radio"]{vertical-align:text-bottom;}sub{vertical-align:sub;font-size:smaller;}sup{vertical-align:super;font-size:smaller;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}ul,ol{list-style:none;}html{overflow-y:scroll;overflow-x:auto;}html,body{height:100%;}body{line-height:1;color:#000;text-align:left;z-index:1;position:relative;}input [type='text']{padding:0;}textarea{resize:none;overflow:auto;}label,input[type="button"],input[type="submit"],button{cursor:pointer;}input[type="button"],input[type="reset"],input[type="submit"],button,input[type="text"],input[type="password"],textarea,input[type="email"],input[type="tel"],input[type="phone"],input[type="number"]{-webkit-appearance:none;}a,a:visited,a:hover,a:focus,a:active{text-decoration:none;}input[type="submit"]::-moz-focus-inner,button::-moz-focus-inner{border:0;padding:0;}input:invalid{outline:none;-moz-box-shadow:none;border:none;}::-ms-clear{display:none;}input,textarea,input[type="search"]:focus,:focus{outline:none;}
/* --------------- Style to null --------------- */

/*
    main styles
    version: 15.01.2013

    placeholder

    fonts

    site

    logo
*/

/* --------------- placeholder --------------- */
::-webkit-input-placeholder {
    color: #000;
}
:-moz-placeholder {
    color: #000;
}
.placeholder {
    color: #000;
}
/* --------------- /placeholder --------------- */

/* --------------- fonts --------------- */
@font-face {
    font-family: "Font Name";
    src: url("../fonts/font.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
/* --------------- /fonts --------------- */

/* --------------- site --------------- */
.site {
    min-height: 100%;
    min-width: 320px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    font-family: 'Roboto', sans-serif;
}
.site:after {
    content: '';
    display: block;
    clear: both;
    width: 100%;
    height: 100px;
}
.site__content {
    position: relative;
    z-index: 2;
}
.site__header {
    position: relative;

    height: 100px;
    background: red;
    z-index: 3;

}
.site__header>div{
    position: relative;
    max-width: 1172px;

}
.site__footer {
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
}
.site__footer-layout {
    width: 100%;

    height: 100px;
    background: blue;
}
.site__title{
    font-size: 50px;
    line-height: 53px;
    color: #000;
}
.site__title_second-size{

}
.site__title_third-size{

}
.site__title_fourth-size{

}
.site__title_fifth-size{

}
.site__centered{
    position: relative;
    z-index: 1;
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}
/* --------------- /site --------------- */

/* --------------- btn --------------- */
.btn{
    display: inline-block;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    height: 38px;
    padding: 10px 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
    font-size: 14px;
    line-height: 14px;
    border: 2px solid #ffdc1a;
    background: #ffdc1a;
    -webkit-transition: border 0.3s, height 0.3s, opacity 0.3s;
    transition: border 0.3s, height 0.3s, opacity 0.3s;
}
.btn:hover{
    border-color: #ffba33;
}
.btn:after {
    content: '';
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
    background: #ffba33;
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -webkit-transition: transform 0.3s, height 0.3s, opacity 0.3s;
    transition: transform 0.3s, height 0.3s, opacity 0.3s;
}
.btn:hover:after {
    height: 260%;
    opacity: 1;
}
.btn span{
    display: flex;
    position: relative;
    z-index: 2;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
/* --------------- /btn --------------- */

/* --------------- logo --------------- */
.logo {
    position: absolute;
    top: 0;
    left: 0;
}
/* --------------- /logo --------------- */

/* --------------- header-menu --------------- */
.header-menu{

}
.header-menu li{
    display: inline-block;
    vertical-align: top;
}
.header-menu__item{
    position: relative;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 15px;
}
/* --------------- /header-menu --------------- */

@media (min-width: 768px) {


}
@media (min-width: 992px) {


}
@media (min-width: 1200px) {


}
