@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,400italic,500,700,700italic);
/* --------------- Style to null --------------- */
*{-webkit-text-size-adjust: none; }
*{-moz-box-sizing:border-box;box-sizing:border-box;}html,body,div,span,h1,h2,h3,h4,h5,h6,p,em,img,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,table,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,a,footer,header,menu,nav,section,summary,time,mark,audio,video{-webkit-tap-highlight-color: rgba(0,0,0,0); border:0;outline:0;vertical-align:baseline;background:transparent;font-size:100%;margin:0;padding:0;}a{background:transparent;}table{border-collapse:collapse;border-spacing:0;}td,td img{vertical-align:top;}input,select,button,textarea{font-size:12px;font-family:Arial, Helvetica, sans-serif;margin:0;}input[type="text"],input[type="password"],textarea,input[type="email"],input[type="phone"],input[type="number"]{font:12px Arial, Helvetica, sans-serif;padding:0;}input[type="checkbox"]{vertical-align:bottom;}input[type="radio"]{vertical-align:text-bottom;}sub{vertical-align:sub;font-size:smaller;}sup{vertical-align:super;font-size:smaller;}article,aside,details,figcaption,figure,footer,header,menu,nav,section{display:block;}ul,ol{list-style:none;}html{overflow-y:scroll;overflow-x:auto;}html,body{height:100%;}body{line-height:1;color:#000;text-align:left;z-index:1;position:relative;}input [type='text']{padding:0;}textarea{resize:none;overflow:auto;}label,input[type="button"],input[type="submit"],button{cursor:pointer;}input[type="button"],input[type="reset"],input[type="submit"],button,input[type="text"],input[type="password"],textarea,input[type="email"],input[type="tel"],input[type="phone"],input[type="number"]{-webkit-appearance:none;}a,a:visited,a:hover,a:focus,a:active{text-decoration:none;}input[type="submit"]::-moz-focus-inner,button::-moz-focus-inner{border:0;padding:0;}input:invalid{outline:none;-moz-box-shadow:none;border:none;}::-ms-clear{display:none;}input,textarea,input[type="search"]:focus,:focus{outline:none;}
/* --------------- Style to null --------------- */

/*
    main styles
    version: 15.01.2013

    placeholder

    site

    logo
*/

/* --------------- placeholder --------------- */
::-webkit-input-placeholder {
    color: #000;
    -webkit-transition: color 300ms ease-in-out;
}
:-moz-placeholder {
    color: #000;
    -webkit-transition: color 300ms ease-in-out;
    transition: color 300ms ease-in-out;
}
.placeholder {
    color: #000;
    -webkit-transition: color 300ms ease-in-out;
    transition: color 300ms ease-in-out;
}
:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}
:focus.placeholder     {color: transparent}
/* --------------- /placeholder --------------- */

/* ------------ social ------------ */
.social a {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0 12px 25px;
    width: 67px;
    height: 67px;
    color: #000;
    background: #ffdc1a;
    font-size: 30px;
    border-radius: 50%;
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
}
.social a i {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.social a:hover {
    background: #ffe348;
}
/* ------------ /social ------------ */

/* --------------- site --------------- */
.site {
    min-height: 100%;
    min-width: 320px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    font-family: 'Roboto', sans-serif;
}
.site__increase {
    display: block;
    width: 100%;
}
.site__content {
    position: relative;
    z-index: 2;
}
.site__header {
    position: fixed;
    z-index: 3;
    width: 100%;
}
.site__header-top{
    height: 60px;
    background: transparent;
    border-bottom: 2px solid rgba(255,255,255,0.1);
    -webkit-transition: background 0.1s ease;
    transition: background 0.1s ease;
}
.site__header.fixed .site__header-top{
    background: #000;
}
.site__footer {
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 81px 20px 50px;
    background: #000;
}
.site__centered{
    position: relative;
    z-index: 1;
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}
.site__footer-logo {
    text-align: center;
    margin-bottom: 61px;
}
.site__footer-txt {
    font-size: 16px;
    color: rgb( 255, 255, 255 );
    line-height: 1.6;
    text-align: center;
}
.site__title{
    position: relative;
    padding: 0 0 21px;
    margin: 0 0 19px;
    font-size: 37px;
    line-height: 38px;
    color: #000;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
.site__title:after{
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 80px;
    height: 6px;
    background: #ffdc1a;
    content: '';
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.site__form {
    padding: 49px 20px 46px;
    background: #f3f3f3;
}
.site__form textarea,
.site__form input {
    width: 100%;
    display: block;
    margin-bottom: 15px;
    padding: 0 21px;
    height: 65px;
    border: 1px solid transparent;
    background: #fff;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,0);
    -webkit-transition: box-shadow 0.3s ease, border 0.3s ease;
    transition: box-shadow 0.3s ease, border 0.3s ease;
}
.site__form .form-validation__error {
    border-color: #ff0000;
}
.site__form textarea:focus,
.site__form input:focus {
    box-shadow: 0 0 15px rgba(0,0,0,0.15);
}
.site__form textarea {
    height: 174px;
    padding: 20px 21px;
    margin-bottom: 26px;
}
.site__form-submit {
    position: relative;
    height: 60px;
}
.site__form-sent,
.site__form-submit button.btn {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
}
.site__form button.btn {
    padding: 0;
}
.site__form-sent {
    padding: 21px 10px;
    background: #ffdc1a;
    color: #000;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}
.site__form-sent .fa {
    margin-right: 9px;
}
.site__form-sent_hidden {
    z-index: 0;
    opacity: 0;
}
/* --------------- /site --------------- */

/* ------------ footer-menu ------------ */
.footer-menu {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}
.footer-menu dl {
    margin-bottom: 69px;
}
.footer-menu dl:last-child {
    margin-bottom: 0;
}
.footer-menu dd {
    margin-bottom: 24px;
}
.footer-menu dd:last-child {
    margin-bottom: 0;
}
.footer-menu__link {
    display: inline-block;
    color: #fff;
    font-size: 16px;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
.footer-menu__link:hover {
    color: #ffdc1a;
}
.footer-menu dt {
    display: block;
    margin-bottom: 55px;
    color: #fff;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 20px;
}
/* ------------ /footer-menu ------------ */

/* --------------- btn --------------- */
.btn{
    display: inline-block;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    height: 38px;
    padding: 10px 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
    font-size: 14px;
    line-height: 14px;
    border: 2px solid #ffdc1a;
    background: #ffdc1a;
    -webkit-transition: border 0.3s, height 0.3s, opacity 0.3s, color 0.3s, background 0.3s;
    transition: border 0.3s, height 0.3s, opacity 0.3s, color 0.3s, background 0.3s;
}
.btn:hover{
    background: #ffe348;
    border-color: #ffe348;
}
.btn:after {
    content: '';
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
    background: #ffe348;
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -webkit-transition: transform 0.3s, height 0.3s, opacity 0.3s;
    transition: transform 0.3s, height 0.3s, opacity 0.3s;
}
.btn:hover:after {
    height: 260%;
    opacity: 1;
}
.btn span{
    display: flex;
    position: relative;
    z-index: 2;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
/* --------------- /btn --------------- */

/* --------------- logo --------------- */
.logo {
    position: absolute;
    z-index: 3;
    top: 15px;
    left: 20px;
    width: 106px;
    height: 33px;
}
.logo img {
    display: block;
    width: 100%;
    height: auto;
}
.logo_footer {
    display: inline-block;
    position: relative;
    top: auto;
    left: auto;
    width: 146px;
    height: 33px;
    margin: 0 auto 51px;
}
/* --------------- /logo --------------- */

/* --------------- header-menu --------------- */
.header-menu{
    position: fixed;
    display: none;
    z-index: 10;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.9);
    text-align: center;
}
.header-menu__wrap{
    display: flex;
    height: 100%;
    padding: 0 0 11px 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
}
.header-menu__wrap ul{
    position: relative;
    margin: 0 5px 0 0;
    width: 100%;
}
.header-menu li{
    position: relative;
    margin: 0 0 11px;
    font-size: 20px;
    line-height: 20px;
}
.header-menu__item{
    display: inline-block;
    vertical-align: top;
    position: relative;
    color: #fff;
    text-transform: uppercase;
    padding: 12px 9.7px;
}
.header-menu__item:after {
    position: absolute;
    top: 84%;
    right: 9.7px;
    left: 9.7px;
    height: 2px;
    background: #ffdc1a;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
}
.header-menu__item:hover:after,
.header-menu__item.active:after{
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}
.header-menu__item.active{
    cursor: default;
}
.header-menu .btn{
    width: 170px;
    height: 47px;
    font-size: 20px;
    line-height: 20px;
}
.header-menu .header-menu__subitems{
    display: none;
    margin: 0;
}
.header-menu__subitems li{
    display: block;
    margin: 0;
    padding: 0 0 10px;
}
.header-menu__subitems li a{
    padding: 8px 16px;
    color: #fff;
}
.header-menu__subitems li .active{
}
/* --------------- /header-menu --------------- */

/* --------------- menu-btn --------------- */
.menu-btn{
    position: absolute;
    top: 24px;
    right: 2px;
    width: 38px;
    height: 15px;
    cursor: pointer;
    z-index: 4;
    display: block;
    padding: 0;
    background: none;
    border: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.menu-btn span{
    position: absolute;
    top: 50%;
    left: 10px;
    right: 10px;
    display: block;
    height: 3px;
    margin-top: -2px;
    background: #fff;
    font-size: 0;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}
.menu-btn span:before,
.menu-btn span:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.3s, background .3s;
    transition: transform 0.3s, background .3s;
}
.menu-btn span:after {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
}
.menu-btn span:before {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
}
.menu-btn:hover span,
.menu-btn:hover span:before,
.menu-btn:hover span:after {
    background: #ffdc1a;
}
.menu-btn.opened span {
    background-color: transparent;
}
.menu-btn.opened span:before {
    -webkit-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
}
.menu-btn.opened span:after {
    -webkit-transform: translateY(0) rotate(-45deg);
    transform: translateY(0) rotate(-45deg);
}
.menu-btn.opened span:before,
.menu-btn.opened span:after {
    background: #6c6c6c;
}
/* --------------- /menu-btn --------------- */

/* --------------- hero --------------- */
.hero{
    text-align: center;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    background-color: #000;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}
.hero__items{
    position: relative;
    z-index: 1;
    padding: 114px 0 54px;
}
.hero .site__title{
    color: #fff;
}
.hero_slider .hero__items{
    padding: 114px 0 41px;
}
.hero__video{
    position: relative;
    padding-bottom: 57%;
    margin: 5px auto 46px;
    max-width: 594px;
}
.hero__video>*{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
}
/* --------------- /hero --------------- */

/* --------------- time-schedule --------------- */
.time-schedule__pic{
    width: 94px;
    height: 94px;
    margin: 0 auto 28px;
}
.time-schedule__pic img{
    display: block;
    width: 100%;
    height: auto;
}
.time-schedule__place{
    margin: 0 15px 34px;
}
.time-schedule__save{
    display: flex;
    width: 268px;
    margin: 0 auto;
    text-align: left;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    line-height: 20px;
}
.time-schedule__save span{
    display: inline-block;
    vertical-align: middle;
    padding: 3px 0 0 4px;
}
.time-schedule__save div{
    display: inline-block;
    vertical-align: middle;
}
.time-schedule__save a{
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 12px;
    width: 36px;
    height: 36px;
    border: 2px solid rgba(255,255,255,0.3);
    color: #fff;
    text-align: center;
    -webkit-transition: background .3s, border .3s;
    transition: background .3s, border .3s;
}
.time-schedule__save a:first-child{
    margin-left: 0;
}
.time-schedule__save a:hover{
    background: #ffdc1a;
    border-color: #ffdc1a;
}
.time-schedule__save a i{
    display: block;
    padding: 9px 0;
    font-size: 16px;
    line-height: 16px;
    -webkit-transition: color .3s;
    transition: color .3s;
}
.time-schedule__save a:hover i{
    color: #000;
}
.time-schedule .btn{
    margin: 0 0 57px;
    width: 231px;
    height: 54px;
    font-size: 18px;
    line-height: 18px;
}
/* --------------- /time-schedule --------------- */

/* --------------- main-slider --------------- */
.main-slider {
    width: 100%;
    height: 100%;
}
.main-slider .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main-slider .swiper-button-prev,
.main-slider .swiper-button-next{
    display: none;
}
/* --------------- /main-slider --------------- */

/* ------------ contact-us ------------ */
.contact-us {
    text-align: center;
    padding: 70px 0 0;
}
.contact-us .site__title {
    font-size: 35px;
    padding: 0 0 25px;
    margin-bottom: 14px;
}
.contact-us__content {
    margin-bottom: 46px;
}
.contact-us p {
    margin-bottom: 42px;
    font-size: 20px;
    color: rgb( 0, 0, 0 );
    line-height: 1.5;
}
.contact-us__content-double dl {
    margin-bottom: 39px;
}
.contact-us__content-double dl:last-child {
    margin-bottom: 0;
}
.contact-us__content-double dt {
    margin-bottom: 20px;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 20px;
    color: rgb( 0, 0, 0 );
    text-transform: uppercase;
    line-height: 1.797;
}
.contact-us__content-double {
    font-style: normal;
}
.contact-us__content-double dd {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
}
.contact-us a[href^='tel'] {
    color: inherit;
    cursor: default;
}
.contact-us__form {
    margin: 0 -15px;
}
/* ------------ /contact-us ------------ */

/* ------------ connect ------------ */
.connect {
    padding: 86px 0 43px;
    background: #000;
    color: #fff;
    font-size: 20px;
    text-align: center;
}
.connect .site__title {
    color: #fff;
    text-align: center;
    padding: 0 0 23px;
    margin: 0 0 15px;
}
.connect p {
    line-height: 1.5;
    margin-bottom: 54px;
}
/* ------------ /connect ------------ */

/* ------------ features ------------ */
.features {
    background: #ffdc1a;
}
.features__item {
    display: block;
    height: 180px;
    padding-top: 35px;
    text-align: center;
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
}
.features__logo {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
    border-radius: 50%;
}
.features__logo span {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #000;
    white-space: nowrap;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.features__logo span i {
    display: inline-block;
    vertical-align: top;
    font-size: 30px;
}
.features__logo i.fa-child {
    font-size: 24px;
}
.features__logo i + i {
    margin-left: -4px;
}
.features__title {
    display: block;
    font-size: 20px;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
    color: rgb( 0, 0, 0 );
    line-height: 1.636;
}
.features__item_light {
    background:#ffee8d;
}
.features__item_light .features__logo {
    background: #fff5bb;
}
.features__item_middle {
    background:#ffe75f;
}
.features__item_middle .features__logo {
    background: #fff19f;
}
.features__item_dark {
    background:#ffdc1a;
}
.features__item_dark .features__logo {
    background: #ffea76;
}
.features__item_light:hover {
    background: #ffe681;
}
.features__item_middle:hover {
    background: #ffdd4a;
}
.features__item_dark:hover {
    background: #ffcf10;
}
/* ------------ /features ------------ */

@media (min-width: 768px) {

    /* ------------ social ------------ */
    .social a {
        margin: 0 18px 30px;
        width: 80px;
        height: 80px;
        font-size: 36px;
    }
    /* ------------ /social ------------ */

    /* --------------- site --------------- */
    .site__header-top{
        height: 90px;
    }
    .site__footer {
        padding: 95px 71px 50px;
    }
    .site__footer-logo {
        margin-bottom: 101px;
    }
    .site__footer-txt {
        font-size: 20px;
        line-height: 1.8;
    }
    .site__title{
        padding: 0 0 33px;
        margin: 0 0 32px;
        font-size: 54px;
        line-height: 62px;
    }
    .site__form {
        padding: 60px 50px 52px;
        margin: 0 auto;
        max-width: 579px;
    }
    .site__form textarea,
    .site__form input {
        padding: 0 30px;
        margin-bottom: 16px;
    }
    .site__form textarea {
        padding: 22px 30px;
        margin-bottom: 29px;
        height: 141px;
    }
    /* --------------- /site --------------- */

    /* ------------ footer-menu ------------ */
    .footer-menu {
        text-align: justify;
    }
    .footer-menu:after {
        display: inline-block;
        width: 100%;
        content: '';
    }
    .footer-menu dl {
        display: inline-block;
        vertical-align: top;
        margin-bottom: 0;
        max-width: 32%;
        text-align: left;
    }
    /* ------------ /footer-menu ------------ */

    /* ------------ logo ------------ */
    .logo {
        top: 22px;
        left: 24px;
        width: 145px;
        height: 45px;
    }
    .logo_footer {
        margin-bottom: 48px;
    }
    /* ------------ /logo ------------ */

    /* ------------ menu-btn ------------ */
    .menu-btn {
        top: 38px;
        right: 19px;
        width: 41px;
        height: 18px;
    }
    /* ------------ /menu-btn ------------ */

    /* ------------ header-menu ------------ */
    .header-menu{
        top: 90px;
    }
    /* ------------ /header-menu ------------ */

    /* ------------ hero ------------ */
    .hero {
        font-size: 24px;
        line-height: 30px;
    }
    .hero__items{
        padding: 129px 0 39px;
    }
    .hero_slider .hero__items{
        padding: 211px 0 38px;
    }
    .hero_slider .btn {
        margin: 0 0 123px;
    }
    .hero__video{
        padding-bottom: 46%;
        margin: 15px auto 38px;
    }
    /* ------------ /hero ------------ */

    /* ------------ time-schedule ------------ */
    .time-schedule__pic {
        width: 124px;
        height: 124px;
    }
    .time-schedule__place {
        margin: 0 5px 51px;
    }
    .time-schedule__save {
        width: 342px;
        padding: 4px 43px 4px 27px;
        border-left: 2px solid rgba(255,255,255,0.3);
        border-right: 2px solid rgba(255,255,255,0.3);
    }
    .time-schedule__save a {
        margin: 0 0 0 11px;
    }
    .time-schedule__save a:first-child{
        margin-left: 0;
    }
    .time-schedule .btn {
        margin: 0 0 53px;
    }
    /* ------------ /time-schedule ------------ */

    /* ------------ contact-us ------------ */
    .contact-us {
        padding: 114px 0 102px;
    }
    .contact-us .site__title {
        font-size: 50px;
        padding: 0 0 18px;
    }
    .contact-us__content {
        margin-bottom: 54px;
    }
    .contact-us p {
        margin-bottom: 58px;
    }
    .contact-us__content-double {
        text-align: center;
        padding-left: 55px;
    }
    .contact-us__content-double > dl {
        display: inline-block;
        vertical-align: top;
        margin-bottom: 0;
        width: 30%;
        text-align: left;
    }
    .contact-us__content-double > dl:last-child {
        margin-left: 54px;
    }
    .contact-us__form {
        margin: 0;
    }
    /* ------------ /contact-us ------------ */

    /* ------------ connect ------------ */
    .connect {
        padding: 87px 0 63px;
    }
    .connect .site__title {
        padding: 0 0 17px;
        font-size: 50px;
    }
    .connect p {
        margin-bottom: 65px;
    }
    /* ------------ /connect ------------ */

    /* ------------ features ------------ */
    .features__item {
        padding-top: 33px;
    }
    .features__logo {
        margin-bottom: 14px;
    }
    /* ------------ /features ------------ */

}

@media (min-width: 1000px) {

    /* --------------- site --------------- */
    .site__footer {
        padding: 80px 71px 50px;
    }
    .site__footer .site__centered {
        text-align: justify;
    }
    .site__footer .site__centered:after {
        display: inline-block;
        width: 100%;
        content: '';
    }
    .site__footer-logo {
        display: inline-block;
        vertical-align: top;
        width: 27%;
        text-align: left;
    }
    .site__footer-txt {
        padding-left: 0;
        text-align: left;
    }
    .site__title{
        padding: 0 0 30px;
        margin: 0 0 33px;
        font-size: 64px;
        line-height: 62px;
    }
    /* --------------- /site --------------- */

    /* ------------ footer-menu ------------ */
    .footer-menu {
        display: inline-block;
        vertical-align: top;
        width: 59.5%;
        margin-top: 16px;
    }
    .footer-menu dl {
        max-width: none;
        width: 30.5%;
    }
    /* ------------ /footer-menu ------------ */

    /* --------------- logo --------------- */
    .logo {
        left: 15px;
    }
    .logo_footer {
        top: auto;
        left: auto;
        width: 145px;
        height: 45px;
        margin-bottom: 36px;
    }
    /* --------------- /logo --------------- */

    /* --------------- header-menu --------------- */
    .header-menu{
        position: relative;
        z-index: 1;
        display: block;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
        padding: 28px 2px 0 0;
        text-align: right;
        background: transparent;
    }
    .header-menu__wrap{
        display: inline-block;
        padding: 0;
        justify-content: inherit;
        align-items: inherit;
        flex-direction: inherit;
        overflow-y: inherit;
    }
    .header-menu__wrap>ul{
        display: inline-block;
        vertical-align: top;
        margin: 0 5px 0 0;
        width: auto;
        text-align: left;
    }
    .header-menu li{
        margin: 0;
        display: inline-block;
        vertical-align: top;
        font-size: 15px;
        line-height: 15px;
    }
    .header-menu__item{
        display: block;
        padding: 12px 9.7px;
    }
    .header-menu__dropdown .header-menu__item:after{
        display: none;
    }
    .header-menu .btn{
        margin: auto;
        width: 132px;
        height: 38px;
        font-size: 14px;
        line-height: 14px;
    }
    .header-menu .header-menu__subitems{
        display: block;
        position: absolute;
        top: 40px;
        left: 50%;
        width: 145px;
        padding: 13px 14px 7px;
        background: #ffdc1a;
        -webkit-transform: translateX(-47%);
        transform: translateX(-47%);
        opacity: 0;
        visibility: hidden;
        -webkit-transition: visibility 0.3s, opacity 0.3s;
        transition: visibility 0.3s, opacity 0.3s;
    }
    .header-menu li:hover .header-menu__subitems{
        opacity: 1;
        visibility: visible;
    }
    .header-menu__subitems:after{
        position: absolute;
        top: -16px;
        left: 50%;
        border: 8px solid transparent;
        border-bottom: 8px solid #ffdc1a;
        -webkit-transform: translateX(-47%);
        transform: translateX(-47%);
        content: '';
    }
    .header-menu__subitems li{
        display: block;
        padding: 0;
    }
    .header-menu__subitems li a{
        display: block;
        padding: 7px 16px;
        margin: 0 0 1px;
        color: #000;
        -webkit-transition: background 0.3s;
        transition: background 0.3s;
    }
    .header-menu__subitems li .active,
    .header-menu__subitems li a:hover{
        background: #ffee8d;
    }
    /* --------------- /header-menu --------------- */

    /* --------------- menu-btn --------------- */
    .menu-btn{
        display: none;
    }
    /* --------------- /menu-btn --------------- */

    /* --------------- hero --------------- */
    .hero__items {
        padding: 172px 0 38px;
    }

    .hero_slider .hero__items{
        padding: 234px 0 38px;
    }
    .hero_video .hero__items{
        padding: 154px 0 38px;
    }
    .hero__video {
        padding-bottom: 35%;
        margin: 0 auto 72px;
        max-width: 712px;
    }
    .hero_small{
        text-align: left;
    }
    .hero_small .hero__items {
        padding: 200px 0 105px;
    }
    .hero_small .site__title {
        padding: 0 0 30px;
        margin: 0 0 26px;
        font-size: 50px;
        line-height: 52px;
    }
    .hero_small .site__title:after{
        left: 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    .hero_small .time-schedule__place {
        margin: 0 0 51px;
    }
    .hero_small .time-schedule .btn {
        margin: 0
    }
    .hero_small .time-schedule__save{
        position: absolute;
        right: 20px;
        bottom: 1px;
    }
    /* --------------- /hero --------------- */

    /* --------------- time-schedule --------------- */
    .time-schedule__pic {
        width: 139px;
        height: 139px;
        margin: 0 auto 43px;
    }
    .time-schedule__place {
        margin: 0 5px 50px;
    }
    .time-schedule .btn {
        margin: 0 0 103px;
    }
    /* --------------- /time-schedule --------------- */

    /* --------------- main-slider --------------- */
    .main-slider .swiper-button-prev,
    .main-slider .swiper-button-next{
        display: block;
        left: 0;
        width: 46px;
        height: 124px;
        margin-top: -47px;
        background: rgba(0,0,0,0.7);
    }
    .main-slider .swiper-button-next{
        left: auto;
        right: 0;
    }
    .main-slider .swiper-button-prev:after,
    .main-slider .swiper-button-next:after{
        position: absolute;
        top: 44%;
        left: 75%;
        width: 13px;
        height: 13px;
        border-left: 3px solid #fff;
        border-top: 3px solid #fff;
        -webkit-transform: translateX(-50%) translateX(-50%) rotate(-45deg);
        transform: translateX(-50%) translateX(-50%) rotate(-45deg);
        content: '';
    }
    .main-slider .swiper-button-next:after{
        right: 4%;
        left: auto;
        border-left: none;
        border-right: 3px solid #fff;
        -webkit-transform: translateX(-50%) translateX(-50%) rotate(45deg);
        transform: translateX(-50%) translateX(-50%) rotate(45deg);
    }
    /* --------------- /main-slider --------------- */

    /* ------------ contact-us ------------ */
    .contact-us {
        padding-bottom: 91px;
    }
    .contact-us .site__centered {
        text-align: justify;
    }
    .contact-us .site__title:after {
        left: 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    .contact-us .site__centered:after {
        display: inline-block;
        width: 100%;
        content: '';
    }
    .contact-us__content {
        display: inline-block;
        vertical-align: top;
        width: 45%;
    }
    .contact-us__form {
        display: inline-block;
        vertical-align: top;
        margin-top: 8px;
        width: 51.5%;
    }
    .contact-us__content-double {
        padding: 0;
        text-align: left;
    }
    .contact-us__content-double > dl {
        width: 40.3%;
    }
    /* ------------ /contact-us ------------ */

    /* ------------ connect ------------ */
    .connect {
        padding: 89px 0 62px;
    }
    /* ------------ /connect ------------ */

    /* ------------ features ------------ */
    .features {
        display: table;
        width: 100%;
    }
    .features__item {
        display: table-cell;
        width: 35.49%;
        height: 177px;
    }
    .features__item:nth-child(1) {
        text-align: right;
    }
    .features__item:nth-child(2) {
        width: auto;
    }
    .features__item:nth-child(3) {
        text-align: left;
    }
    .features__inner {
        display: inline-block;
        width: 100%;
        max-width: 384px;
        text-align: center;
    }
    /* ------------ /features ------------ */

}