/* ------------ registration ------------ */
.registration {
    padding: 39px 0 51px 0;
    background: #ffdc1a;
}

.registration__title {
    font: 700 26px/42px 'Roboto Slab', sans-serif;
    text-align: center;
}

.registration__title > span {
    display: block;
    margin-top: -5px;
    font: 400 16px/38px 'Roboto', sans-serif;
    letter-spacing: 0.4px;
    text-align: center;
    text-transform: none;
}

.registration__title {
    padding-bottom: 16px;
    letter-spacing: -0.7px;
}

/* ------------ /registration ------------ */

/* ------------ session-inner ------------ */
.session-inner {
    padding: 70px 0 54px 0;
    margin-top: 250px;
    border-top:1px solid red;
    text-align: center;
}

.session-inner__title {
    font: 700 26px/42px 'Roboto Slab', sans-serif;
    position: relative;
}

.session-inner__title:after{
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 80px;
    height: 6px;
    background: #ffdc1a;
    content: '';
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.session-inner__text p{
    font: 400 16px/25px 'Roboto', sans-serif;
    margin-bottom: 15px;
}
.session-inner__labels{
    text-align: left;
}

/* ------------ /session-inner ------------ */

@media (min-width: 768px) {
    /* ------------ registration ------------ */
    .registration__title > span {
        font-size: 20px;
    }

    /* ------------ /registration ------------ */
}

@media (min-width: 1000px) {
    /* ------------ registration ------------ */
    .registration {
        padding-bottom: 63px;
    }

    .registration__title > span {
        font-size: 20px;
    }

    .registration__title {
        padding-bottom: 0;
        margin-bottom: 26px;
    }

    /* ------------ /registration ------------ */

}