/* ------------ presented ------------ */
.presented {
    padding: 40px 0 23px;
    background: #f3f3f3;
}

.presented .speakers__person, .presented .speakers__post {
    text-align: center;
}

.presented .speakers__layout {
    justify-content: space-between;
    margin: auto;
}
/* ------------ /presented ------------ */

/* ------------ registration ------------ */
.registration {
    padding: 39px 0 51px 0;
    background: #ffdc1a;
}

.registration__title {
    font: 700 26px/42px 'Roboto Slab', sans-serif;
    text-align: center;
}

.registration__title > span {
    display: block;
    margin-top: -5px;
    font: 400 16px/38px 'Roboto', sans-serif;
    letter-spacing: 0.4px;
    text-align: center;
    text-transform: none;
}

.registration__title {
    padding-bottom: 16px;
    letter-spacing: -0.7px;
}
/* ------------ /registration ------------ */

/* ------------ session ------------ */
.session {
    padding: 62px 0 50px 0;
    text-align: center;
}

.session__text p {
    margin-bottom: 25px;
    font: 400 16px/25px 'Roboto', sans-serif;
}

.session__text p a {
    border-bottom: 1px solid transparent;
    color: #ffdc1a;
    -webkit-transition: border .3s ease-in-out;
    transition: border .3s ease-in-out;
}

.session__text p a:hover {
    border-bottom: 1px solid #ffdc1a;
}

.session__labels {
    padding-left: 20px;
    padding-top: 11px;
    text-align: left;
}

.session__labels .label {
    padding: 3px 8px;
    min-width: 71px;
    font: 500 10px/1 'Robobo', sans-serif;
    white-space: nowrap;
}
/* ------------ /session ------------ */

/* ------------ hero ------------ */
.site__title_session {
    font-size: 36px;
    line-height: 38px;
}

.time-schedule__session {
    border-left: 2px solid rgba(255, 255, 255, 0.3);
    border-right: 2px solid rgba(255, 255, 255, 0.3);
    margin: auto;
    font: 400 16px/20px "Roboto", sans-serif;
    text-transform: uppercase;
    padding: 10px 0;
}

.time-schedule__session__place {
    width: 100%;
    display: block;
    padding-bottom: 7px;
}

.time-schedule__session time {
    width: 100%;
    display: block;
}

.time-schedule__session__place i {
    color: #b5b5b5;
    padding-right: 10px;
}
/* ------------ /hero ------------ */

@media (min-width: 768px) {
    /* ------------ registration ------------ */
    .registration__title > span {
        font-size: 20px;
    }
    /* ------------ /registration ------------ */

    /* ------------ session ------------ */
    .session {
        padding: 43px 0 96px 0;
    }

    .session__text p {
        margin-bottom: 38px;
        font-size: 20px;
        line-height: 38px;
    }

    .session__labels {
        padding-left: 0;
        padding-top: 13px;
        text-align: center;
    }

    /* ------------ /session ------------ */

    /* ------------ presented ------------ */
    .presented .speakers__layout {
        justify-content: space-between;
        margin: auto;
        max-width: 600px;
    }
    /* ------------ /presented ------------ */

    /* ------------ hero ------------ */
    .site__title_session {
        font-size: 40px;
        line-height: 42px;
    }

    .time-schedule__session {
        padding: 0;
        overflow: hidden;
        display: inline-block;
        width: auto;
    }

    .time-schedule__session__place {
        border-right: 2px solid rgba(255, 255, 255, 0.3);
        width: auto;
    }

    .time-schedule__session time {
        width: auto;
    }

    .time-schedule__session__place, .time-schedule__session time {
        float: left;
        text-align: center;
        padding: 13px 30px;
    }

    /* ------------ hero ------------ */
}

@media (min-width: 1000px) {

    /* ------------ registration ------------ */
    .registration {
        padding-bottom: 63px;
    }

    .registration__title > span {
        font-size: 20px;
    }

    .registration__title {
        padding-bottom: 0;
        margin-bottom: 26px;
    }
    /* ------------ /registration ------------ */

    /* ------------ session ------------ */
    .session-inner {
        padding: 59px 0 73px 0;
    }

    .session__text {
        max-width: 775px;
        margin: auto;
    }
    /* ------------ /session ------------ */

    /* ------------ presented ------------ */
    .presented .speakers__layout {
        justify-content: space-between;
        margin: auto;
        max-width: 850px;
    }
    /* ------------ /presented ------------ */

}